  /*800px 이상일때*/
  body{
    margin:0px;
  }
  a{
    color:black;
    text-decoration: none;
  }
  h1{
    font-size:45PX;
    text-align:center;
    border-bottom:2px solid gray;
    margin:0px;
    padding:20px;
  }
  ol{
    border-right:2px solid gray;
    padding:20px;
    width:100px;
    margin:0px;
    padding-left:33px;
  }
  #grid ol{
    padding-left:33px;
  }
  #grid{
    display: grid;
    grid-template-columns:150px 1fr;
  }
  #grid #article{
    padding-left:25px;
  }
  /*800px 이하일때*/
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right:none;
    }
    h1{
      border-bottom:none;
    }
  }
